<section class="blog container">
    <h2 class="blog__header">
        LOOKING FOR INSPIRATION?
    </h2>
    <h2 class="blog__header blue">
        VISIT OUR BLOG!
    </h2>

    <div class="blog__images">
        <a class="blog__image">
            <img src="../../images/blog1.png" />
        </a>

        <a class="blog__image">
            <img src="../../images/blog2.png" />
        </a>
    </div>

    <a href="https://blog.meetingapplication.com/" class="blog__button button">
        GO TO BLOG
    </a>

</section>
