<section id="features" class="core-features">
    <h2 class="blue core-features__header">
        CORE FEATURES
    </h2>

    <p class="section__background-text">
        CORE FEATURES
    </p>

    <article class="core-features__element">
        <h3 class="core-features__element__header">
            INFORM & ENGAGE
        </h3>

        <div class="code-features__video-container">
            <button data-id="video1" class="code-features__video-play"></button>
            <video id="video1" class="code-features__video">
                <source src="../../images/1_small.mp4" type="video/mp4">
            </video>
        </div>

        <p class="core-features__info">
            Things running behind the schedule? Unexpected change of the conference room? Don't worry, the agenda will
            update accordingly and attendees will be notified.
        </p>
    </article>

    <article class="core-features__element">
        <h3 class="core-features__element__header">
            PROMOTE SPONSORS
        </h3>

        <div class="code-features__video-container">
            <button data-id="video2" class="code-features__video-play"></button>
            <video id="video2" class="code-features__video">
                <source src="../../images/2_small.mp4" type="video/mp4">
            </video>
        </div>


        <p class="core-features__info">
            Make the event sponsorship deal even sweater by offering countless in-app possibilities to promote the
            supporting companies.
        </p>
    </article>

    <article class="core-features__element">
        <h3 class="core-features__element__header">
            SAVE TIME & MONEY
            <br> ON PRINTED MATERIALS
        </h3>

        <div class="code-features__video-container">
            <button data-id="video3" class="code-features__video-play"></button>
            <video id="video3" class="code-features__video">
                <source src="../../images/3_small.mp4" type="video/mp4">
            </video>
        </div>

        <p class="core-features__info">
            Stop wasting your time and money on designing and printing materials that will be thrown into the bin as
            soon as the event ends.
        </p>
    </article>

    <div class="core-features__button">
        <a href="https://meetingapplication.com/event-app-tour/"
           class="button button--big">
            EXPLORE ALL FEATURES
            <img class="core-features__button__icon" src="../../images/next.svg" />
        </a>
    </div>

</section>
