<section class="free-trial container">
    <h2 class="free-trial__header">
        READY TO ENHANCE
    </h2>

    <h2 class="free-trial__text">
        YOUR EVENT?
    </h2>

    <a href="https://meetingapplication.com/get-your-app/"
       class="button button--big">
        START FREE TRIAL
        <img class="core-features__button__icon" src="../../images/next.svg" />
    </a>
</section>
