<section class="hero">

    <video class="hero__image" autoplay loop muted>
        <source src="../../images/header-video.mp4" type="video/mp4">
    </video>

    <div class="hero__content">
        <h1 class="hero__text">
            Communicate with event attendees like never before
        </h1>

        <a href="https://meetingapplication.com/get-your-app/"
           class="button button--big hero__button">
            START FREE TRIAL
            <img class="core-features__button__icon" src="../../images/next.svg" />
        </a>
    </div>

</section>
