@import "../styles";

.hero {
    width: 100%;
    background-color: transparent;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

  &__content {
    position: absolute;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__image {
    z-index: -1;
    width: 100%;
    object-fit: cover;
    filter: brightness(.5);
    height: calc(100vh - 230px);
  }

  &__button {
    max-width: 230px;
    max-height: 40px;
    margin: 0 auto;
    margin-top: 35px;
    width: auto;
    margin-bottom: 110px;
  }

  &__text {
    color: #FFFFFF;
    font-size: 50px;
    margin: 0 auto;
    font-weight: 900;
    word-wrap: break-word;
    max-width: 700px;
    margin-top: auto;
  }
}

@media (max-width: 900px) {
    .hero__text {
        font-size: 3rem;
    }
}

@media (max-width: 700px) {
    .hero__text {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .hero__text {
        font-size: 1.9rem;
    }
}

.hero__text small {
    font-size: 22px;
    margin-top: -5px;
}

.hero__info {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.trusted-by {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    padding-top: 30px;
}

.trusted-by__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: -35px;
    flex-wrap: wrap;
    max-width: 100%;
}

.trusted-by__company {
    margin: 15px;
    min-width: 100px;
}

.trusted-by__company img {
    width: auto;
}

.core-features {
    padding: 70px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    max-width: 1100px;
    z-index: 0;
}

.core-features__header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
}

.core-features__element {
    max-width: 340px;
    flex-basis: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin: 10px 13px;
}

.code-features__video {
    background-size: 100%;
    padding: 64px 37px;
    border-radius: 10px;
    width: 231px;
    margin-left: 4px;
    margin-right: 1px;
}

.code-features__video-play {
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 20;
    background: url('../../images/Play.png');
    background-size: 100% 100%;
    border: none;
    outline: none;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.code-features__video-play--playing {
    display: none;
}

.code-features__video-container {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/phone.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.core-features__element__header {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 70px;
}

.core-features__info {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 0 30px;
    flex-grow: 1;
    max-width: 100%;
}

.core-features__button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.core-features__button__icon {
    width: 21px;
    margin-left: 15px;
}

.industries {
    padding: 90px 0;
    padding-bottom: 120px;
    background: linear-gradient(79deg, #1168AC, #0E81D0);
    position: relative;
}

.industries__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.industries__button {
    font-weight: 800;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgba(212, 228, 240, 0.859);
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.19);
    flex-basis: 230px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    /* max-width: 33%; */
    transition: 50ms ease-in;
}

.industries__button--active,
.industries__button:hover {
    background-color: rgb(212, 228, 240);
}

.industries__info {
    display: none;
    border-radius: 8px;
    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.3);
    background: #FFFFFF;
    margin: 10px;
    align-items: stretch;
}

.industries__info--visible {
    display: flex;
}

.industries__image {
    display: flex;
}

@media (max-width: 1200px) {
    .industries__image {
        width: 200px;
        overflow: hidden;
    }
}

@media (max-width: 992px) {
    .industries__image {
        display: none;
    }
}

.industries__image img {
    -o-object-fit: cover;
    object-fit: cover;
    width: auto;
}

.industries__info__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 30px;
    flex-basis: calc(100% - 450px);
    justify-content: space-around;
    flex-grow: 1;
    z-index: 2;
}

.industries__info__numbers {
    display: flex;
    align-items: center;
}

.industries__info__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 16px;
}

.industries__info__number img {
    margin: 15px
}

.industries__info__text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: justify;
    line-height: 1.7;
    margin-left: 30px;
    z-index: 2;
    margin-right: 30px;
}

@media (max-width: 320px) {
    .industries__info__text {
        margin-left: 0;
        margin-right: 0;
    }
}

.industries__info__clients {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px;
    max-width: 100%;
}

.industries__info__clients__list {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-around;
}



.industries__info__clients__list img:first-child {
    margin-left: 0;
}

.industries__info__clients__list > * {
    margin-right: 10px;
}

.industries__info__clients__list img {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .industries__info__clients__list {
        flex-wrap: wrap;
    }

    .industries__info__clients__list img {
        margin: 10px;
    }
}

.industries__info__clients__button {
    min-width: 200px;
    height: 45px;
    border-radius: 8px;
}

@media (max-width: 320px) {
    .industries__info__clients__button {
        min-width: 100%;
    }
}

.testimonials {
    padding: 70px 0;
    display: flex;
    z-index: 2;
    flex-direction: column;
}

.testimonials__users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
    z-index: 2;
}

.testimonials__user {
    max-width: 315px;
    flex-basis: 315px;
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    position: relative;
    overflow: visible;
    padding: 20px;
    padding-top: 55px;
    padding-bottom: 40px;
    border-top: 4px solid black;
    margin: 10px;
    margin-top: 50px;
    z-index: 2;
    background-color: white;
}

.testimonials__user img {
    width: 80px;
    position: absolute;
    top: -40px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.testimonial__user-name {
    margin: 0;
    color: #1EB8F1;
    font-weight: 600;
}

.testimonial__user-position {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.testimonial__text {
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    margin-top: 25px;
    line-height: 2;
    max-width: 100%;
}

.testimonials__numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.testimonials__number {
    max-width: 350px;
    border-radius: 6px;
    background-color: rgb(24, 40, 59);
    flex-basis: 350px;
    min-height: 200px;
    flex-grow: 1;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 800;
    font-size: 45px;
    padding: 5px;
    justify-content: center;
    margin: 10px;
    transition: 50ms ease-in-out;
}

.testimonials__number:hover {
    transform: scale(1.1);
}

.testimonials__number:nth-child(2n+1) {
    background-color: #1EB8F1;
}

.testimonials__number--numbers {
    background-image: url('../../images/numbers--numbers.png');
}

.testimonials__number--events {
    background-image: url('../../images/numbers--events.png');
}

.testimonials__number--users {
    background-image: url('../../images/numbers--users.png');
}

.testimonials__number--screen-views {
    background-image: url('../../images/numbers--screen-views.png');
}

.testimonials__number--time {
    background-image: url('../../images/numbers--time.png');
}

.testimonials__number--countries {
    background-image: url('../../images/numbers--country.png');
}

.testimonials__number__big {
    margin: 0;
    font-size: 35px;
}

.testimonials__number__small {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
}

.support {
    background-color: #F4F4F4;
}

.support__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 120px 0;
}

.support__header {
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
}

.support__text {
    flex-basis: 40%;
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
    flex-wrap: wrap;
    line-height: 1.4;
    flex-grow: 1;
    padding: 10px;
    max-width: 525px;
}

.support__image {
    flex-basis: 35%;
    min-width: 300px;
    margin-left: 65px;
}

.free-trial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    padding-top: 80px;
}

.free-trial__header {
    margin: 0;
    font-weight: 900;
    color: #19B9F2;
    font-size: 55px;
}

.free-trial__text {
    color: #18283B;
    font-weight: 900;
    font-size: 55px;
}

.blog {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-top: 100px;
    align-items: center;
}

.blog__header {
    margin: 0;
    font-weight: 900;
    color: #18283B;
    font-size: 40px;
}

.blog__images {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.blog__image {
    flex-basis: 45%;
    margin: 15px;
    flex-grow: 1;
    transition: 50ms ease-in;
}

.blog__image:hover {
    -webkit-filter: brightness(1.3) contrast(110%);
    filter: brightness(1.3) contrast(110%);
}

.blog__button {
    width: 180px;
    margin-top: 70px;
    margin-bottom: 70px;
    height: 40px;
    border-radius: 8px;
}


