<html>

{{> ../head }}

<body>

{{> ../nav }}
{{> hero }}
{{> trusted-by }}
{{> features }}
{{> industries }}
{{> testimonials }}
{{> free-trial }}
{{> support }}
{{> blog }}
{{> ../footer }}

</body>

</html>
