<section id="industries" class="industries">
    <p class="section__background-text section__background-text--blue">
        INDUSTRIES
    </p>

    <div class="container">
        <h2 class="white">
            INDUSTRIES
        </h2>

        <div class="industries__buttons">
            <a data-show="pharma" class="industries__button">
                Pharmaceutical & Biotech
            </a>

            <a data-show="gov" class="industries__button">
                Governmental Agencies & NGOs
            </a>

            <a data-show="music" class="industries__button">
                Music & Film Festivals
            </a>

            <a data-show="corp" class="industries__button">
                Corporate Events
            </a>
        </div>

        <article data-showid="pharma" class="industries__info">
            <div class="industries__image">
                <img src="../../images/Pharma.png" />
            </div>

            <div class="industries__info__block">
                <div class="industries__info__text">
                    <h3>Pharmaceutical & Biotech</h3>

                    <p>
                        Whether it's a main annual event or bimonthly training an event app will make it easy for you to
                        manage and exciting for all of your attendees. Ensuring a seamless flow of information during
                        these both types of events is crucial. With the real-time agenda, you got that covered. Data
                        safety likewise, as we protect your entire communication with a strong, 256bit SSL encryption.
                        We have already cooperated with 6 out of the 15 biggest pharmaceutical companies providing them
                        with easy to use conference app.
                    </p>
                </div>

                <div class="industries__info__clients">
                    <h3>Clients</h3>

                    <div class="industries__info__clients__list">

                        <img height="80" alt="Bayer Company Logo" title="Bayer Company Logo"
                             src="../../images/bayer.png" />

                        <img height="60" alt="GSK Company Logo" title="GSK Company Logo" src="../../images/logo-gsk.png" />

                        <img height="60" alt="Sanofi Company Logo" title="Sanofi Company Logo"
                             src="../../images/sanofi.png" />

                        <a href="https://meetingapplication.com/pharmaceutical-conference-app"
                           class="button industries__info__clients__button">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
        </article>

        <article data-showid="gov" class="industries__info">
            <div class="industries__image">
                <img src="../../images/Gov.png" />
            </div>

            <div class="industries__info__block">
                <div class="industries__info__text">
                    <h3>Governmental Agencies & NGOs</h3>

                    <p>
                        Political conventions, party congresses or non-governmental organization conferences - believe
                        it or not, all of these need an event application. With always up-to-date agenda, additional
                        materials ready to be viewed and downloaded, and the possibility to vote within an app it's a
                        perfect tool to manage such events easily.
                    </p>
                </div>

                <div class="industries__info__clients">
                    <h3>Clients</h3>

                    <div class="industries__info__clients__list">
                        <img height="55"
                             alt="US Health Department Logo"
                             title="US Health Department Logo"
                             src="../../images/ushealthdep.png" />


                        <img height="25"
                             alt="Singapore Government Logo"
                             title="Singapore Government Logo"
                             src="../../images/singappur.png" />

                        <img height="50" alt="EU Commission  Logo" title="EU Commission Logo"
                             src="../../images/komisja.png" />


                        <a href="https://meetingapplication.com/pharmaceutical-conference-app" class="button industries__info__clients__button">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
        </article>

        <article data-showid="music" class="industries__info">
            <div class="industries__image">
                <img src="../../images/Fest.png" />
            </div>

            <div class="industries__info__block">
                <div class="industries__info__text">
                    <h3>Music & Film Festivals</h3>

                    <p>
                        Nowadays attendees expectations are high when it comes to music and film festivals. They demand
                        a safe and well-organized event with easy access to information. Music and film festivals that
                        meet these expectations will long be remembered and visited in the future. Festival application
                        that keeps the program always up-to-date, offers an interactive map of the venue, and a way to
                        engage visitors ensures that.
                    </p>
                </div>

                <div class="industries__info__clients">
                    <h3>Clients</h3>

                    <div class="industries__info__clients__list">
                        <img height="30" alt="Raindance Logo" title="Raindance Logo" src="../../images/raindance.png" />

                        <img height="55" alt="Sunny side of Doc Logo" title="Sunny side of Doc Logo"
                             src="../../images/logo-sunnyside.png" />

                        <img height="50" alt="Imagination Days Cannes Logo" title="Imagination Days Cannes Logo"
                             src="../../images/imaginationdayscannes.png" />

                        <a href="https://meetingapplication.com/film-festival-app/" class="button industries__info__clients__button">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
        </article>

        <article data-showid="corp" class="industries__info">
            <div class="industries__image">
                <img src="../../images/corp.png" />
            </div>

            <div class="industries__info__block">
                <div class="industries__info__text">
                    <h3>Corporate Events</h3>

                    <p>
                        Quarterly events, internal training, conferences, company retreats all bring people together
                        through meaningful experiences. The larger corporate event is, the harder it is to manage it
                        smoothly. With easily changeable agenda, PUSH notifications, and ability to add presentations,
                        documents, and media, your corporate event will be a success.
                        We have helped numerous companies make internal events truly memorable.
                    </p>
                </div>

                <div class="industries__info__clients">
                    <h3>Clients</h3>

                    <div class="industries__info__clients__list">
                        <img height="50" src="../../images/dhl-logo.jpg" />

                        <img height="22" src="../../images/AccorHotels_Logo.png" />

                        <img height="22" src="../../images/sephora-logo.png" />

                        <a href="https://meetingapplication.com/corporate-event-app/" class="button industries__info__clients__button">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>

</section>
