<section class="support">
    <p class="section__background-text">
        SUPPORT
    </p>

    <div class="container support__container">
        <div class="support__text">
            <h2 class="support__header blue">
                OUR SUPPORT?
            </h2>
            <p>
                Our Customer Support team is always ready to help and that's not an empty phrase when we say it. We will
                guide you through the setup of your event application and answer all your questions that'll pop up along
                the way. Then, when your event is held, we will watch over the app, ready to assist if needed. We will
                go the extra mile. Literally, as you can request on-site support.
            </p>

        </div>

        <div class="support__image">
            <img src="../../images/support-image.png" />
        </div>
    </div>

</section>
