<section class="testimonials container">
    <h2 class="blue">
        TESTIMONIALS
    </h2>

    <p class="section__background-text section__background-text--numbers">
        NUMBERS
    </p>

    <article class="testimonials__users">
        <div class="testimonials__user">
            <img src="../../images/testimonial-user1.png" />

            <h3 class="testimonial__user-name">
                Mike Kopyra
            </h3>

            <h4 class="testimonial__user-position">
                IT Manager at Black Carbon
            </h4>

            <p class="testimonial__text"> It was very easy to use and to assing roles to multiple users. Previously we
                used posters and signs to advertise
                our events, but Meeting Application made it super easy to change every information and update
                participants
                in real time.
            </p>
        </div>

        <div class="testimonials__user">
            <img src="../../images/testimonial-user1.png" />

            <h3 class="testimonial__user-name">
                Mike Kopyra
            </h3>

            <h4 class="testimonial__user-position">
                IT Manager at Black Carbon
            </h4>

            <p class="testimonial__text"> It was very easy to use and to assing roles to multiple users. Previously we
                used posters and signs to advertise
                our events, but Meeting Application made it super easy to change every information and update
                participants
                in real time.
            </p>
        </div>

        <div class="testimonials__user">
            <img src="../../images/testimonial-user1.png" />

            <h3 class="testimonial__user-name">
                Mike Kopyra
            </h3>

            <h4 class="testimonial__user-position">
                IT Manager at Black Carbon
            </h4>

            <p class="testimonial__text"> It was very easy to use and to assing roles to multiple users. Previously we
                used posters and signs to advertise
                our events, but Meeting Application made it super easy to change every information and update
                participants
                in real time.
            </p>
        </div>
    </article>

    <article class="testimonials__numbers">
        <div class="testimonials__number testimonials__number--numbers">
            NUMBERS
        </div>

        <div class="testimonials__number testimonials__number--events">
            <h3 class="testimonials__number__big">
                <span id="eventsNumber">250</span>
                +
            </h3>
            <h4 class="testimonials__number__small">
                EVENTS SUPPORTED
            </h4>
        </div>

        <div class="testimonials__number testimonials__number--users">
            <h3 class="testimonials__number__big">
                <span id="usersNumber">100 000</span>
                +
            </h3>
            <h4 class="testimonials__number__small">
                APP USERS
            </h4>
        </div>

        <div class="testimonials__number testimonials__number--screen-views">
            <h3 class="testimonials__number__big">
                <span id="screenViewsNumber">6 400 000</span>
                +
            </h3>
            <h4 class="testimonials__number__small">
                APP SCREENVIEWS
            </h4>
        </div>

        <div class="testimonials__number testimonials__number--time">
            <h3 class="testimonials__number__big">
                <span id="timeUsageNumber">5</span>
                MIN+
            </h3>
            <h4 class="testimonials__number__small">
                AVG. TIME OF EACH APP USAGE
            </h4>
        </div>

        <div class="testimonials__number testimonials__number--countries">
            <h4 class="testimonials__number__small">
                CLIENTS IN
                <strong>
                    <span id="countriesNumber">
                        31
                    </span>
                    +
                </strong>
                COUNTRIES
            </h4>

            <h4 class="testimonials__number__small">
                ACROSS
                <strong>
                    <span id="continentsNumber">
                        31
                    </span>
                </strong>
                CONTINENTS
            </h4>
        </div>
    </article>
</section>
