<section class="trusted-by">
    <h2>
        Already trusted by
    </h2>

    <ul class="trusted-by__list">
        <li class="trusted-by__company">
            <img src="../../images/IDGL.png" />
        </li>

        <li class="trusted-by__company">
            <img src="../../images/coca-cola.png" />
        </li>

        <li class="trusted-by__company">
            <img src="../../images/shelll.png" />
        </li>

        <li class="trusted-by__company">
            <img src="../../images/rebook.png" />
        </li>

        <li class="trusted-by__company">
            <img src="../../images/csiroo.png" />
        </li>

        <li class="trusted-by__company">
            <img src="../../images/bayerr.png" />
        </li>

        <li class="trusted-by__company">
            <img src="../../images/CA.png" />
        </li>
    </ul>
</section>
