<html>

{{> ../head }}

<body>

{{> ../nav }}

{{> ../index/hero }}
{{> ../index/trusted-by }}
{{> ../index/features }}
{{> ../index/industries }}
{{> ../index/testimonials }}
{{> ../index/free-trial }}
{{> ../index/support }}
{{> ../index/blog }}

{{> ../footer }}

</body>

</html>
