@import "../styles";
@import "hero/pricing-hero";
@import "difference/difference";
@import "services/services";
@import "rest/rest-assured";
@import "app-types/app-types";

.change-icon-interval {
  position: relative;

  img {
    transition: opacity 1s ease-in-out;
    position:absolute;
    top: 0;
    left: 0;
  }

  img.transparent {
    opacity: 0;
  }
}
