<section class="pricing-hero">
    <h1 class="pricing-hero__text pricing-hero__text--light">
        CHOOSE APP THAT MATCHES
    </h1>

    <h1 class="pricing-hero__text pricing-hero__text--bold">
        YOUR NEEDS BEST
    </h1>

    <div class="pricing-hero__applications container">
        <div class="pricing-hero__app">
            <div class="pricing-hero__phone">
                <img src="../../images/application-meeting.png" />
            </div>
            <div class="pricing-hero__app-description">
                <div class="pricing-hero__company-logo pricing-hero__company-logo--bigger">
                    <img  src="../../images/app-types-logo.png">
                </div>

                <span class="pricing-hero__company-name">
                    Meeting
                </span>

                <span class="pricing-hero__company-name">
                    Application
                </span>

                <span class="pricing-hero__company-name--small">
                    Your event inside our hosted app.
                </span>

                <a onclick="gotoAppTypes('premium')" class="button button--medium">
                    I CHOOSE THIS
                    <img class="core-features__button__icon" src="../../images/next.svg" />
                </a>
            </div>
        </div>

        <div class="pricing-hero__app pricing-hero__app--right">
            <div class="pricing-hero__app-description pricing-hero__app-description--right">
                <div class="pricing-hero__company-logo change-icon-interval">
                    <img src="../../images/ikony_pricing/1_dhl.png" />
                    <img src="../../images/ikony_pricing/2_care.png" />
                    <img src="../../images/ikony_pricing/3_raindance.png" />
                    <img src="../../images/ikony_pricing/4_santander.png" />
                    <img src="../../images/ikony_pricing/5_sunny side.png" />
                    <img src="../../images/ikony_pricing/6_eu com.png" />
                </div>

                <span class="pricing-hero__company-name">
                    Stand-alone
                </span>

                <span class="pricing-hero__company-name">
                    application
                </span>

                <span class="pricing-hero__company-name--small">
                    Your event inside your own dedicated app.
                </span>

                <a onclick="gotoAppTypes('standalone')" class="button button--medium">
                    I CHOOSE THIS
                    <img class="core-features__button__icon" src="../../images/next.svg" />
                </a>
            </div>
            <div class="pricing-hero__phone">
                <img src="../../images/application-dhl.png" />

                <div class="pricing-hero__phone-icon change-icon-interval">
                    <img src="../../images/ikony_pricing/1_dhl.png" />
                    <img src="../../images/ikony_pricing/2_care.png" />
                    <img src="../../images/ikony_pricing/3_raindance.png" />
                    <img src="../../images/ikony_pricing/4_santander.png" />
                    <img src="../../images/ikony_pricing/5_sunny side.png" />
                    <img src="../../images/ikony_pricing/6_eu com.png" />
                </div>
            </div>
        </div>
    </div>

    <a onclick="gotoDifference()"
       class="button button--big pricing-hero__button button--empty">
        WHAT'S THE DIFFERENCE?
    </a>

</section>
