

.nav {
  position: fixed;
  top: 0;
  z-index: 3;
  background: #FFFFFF;
  width: 100%;
}

.nav__container {
  padding: 10px 0;
  display: flex;
  /*justify-content: center;*/
  margin: 0 auto;
  align-items: center;
  max-width: 1170px;
  height: 47px;
  position: initial;
}

.nav__menu-launcher-input {
  display: none;
}

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu-launcher-label {
  display: none;
  background-image: url("../../images/burger-image.png");
  background-color: transparent;
  border: none;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  min-width: 30px;
}

@media (max-width: 995px) {
  .nav__menu-launcher-label {
    display: block;
  }
}

@media (max-width: 995px) {
  .nav_menu {
    flex-direction: column;
    transition: 100ms ease-out;
    height: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 67px;
    background: white;
    width: 100vw;
    overflow: hidden;
  }

  .nav_menu--visible {
    height: 280px;
  }
}

.nav__logo {
  display: flex;
  margin: 5px;
  align-items: center;
  margin-right: auto;
  min-width: 120px;
}

.nav__button {
  height: 23px;
  font-weight: 400;
  font-size: 14px;
  margin-left: 25px;
}

.nav__button:last-child {
  margin-left: 10px;
}

@media (max-width: 500px) {
  .nav__button {
    display: none;
  }
}

.nav__button--responsive {
  display: none !important;
}

@media (max-width: 500px) {
  .nav__button--responsive {
    display: block;
    margin: 0;
    text-align: center;
    margin:  5px;
    padding: 5px;
  }
}

.nav__link {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
}

.nav__link:hover {
  color: #1EB8F1;
}
