
.section__background-text {
  position: absolute;
  font-size: 390px;
  word-wrap: unset;
  white-space: nowrap;
  font-weight: 900;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 15%);
  z-index: 0;
  color: #FAFAFA;
  user-select: none;
  opacity: 0.8;
}

.section__background-text--blue {
  color: #104A7B;
  opacity: 0.7;
}

.section__background-text--numbers {
  top: 40%;
}
