<section class="top">
    <div class="container">
        <h1 class="top__header">
            Zastanawiasz się jak aplikacja eventowa
            <br />
            wspomoże Twoje wydarzenie?
        </h1>

        <div class="top__info">
            Sprawdź naszą sekcję problem-rozwiązanie!
        </div>

        <div class="top__buttons">
            <a class="button">
                ODKRYJ TERAZ
            </a>

            <a class="button">
                PRZETESTUJ APLIKACJĘ
            </a>
        </div>
    </div>
</section>
