<section class="key">
    <div class="container">
        <h1 class="key__header">
            POZNAJ NAJLEPSZE LEKARSTWO NA PROBLEMY ORGANIZATORÓW.
        </h1>

        <h2 class="key__header-info">
            6 funkcji aplikacji eventowej, które robią różnicę.
        </h2>


        <div class="key__block">
            <div class="key__image">
                <img src="../../images/key-agenda.png"/>
            </div>

            <div class="key__info">
                <div class="key__title">
                    Agenda
                </div>

                <div class="key__description">
                    Nie musisz już martwić się zmianami w harmonogramie. Możesz z łatwościąaktualizować dane w aplikacji, czego nie można powiedzieć o przestarzałych już materiałach papierowych. Wprowadzanie zmian jest możliwe gdziekolwiek i kiedykolwiek tego potrzebujesz. Dodatkowo użytkownicy mają możliwośćfiltrowania agendy, dodawania wydarzeń do “ulubionych” i otrzymywaniapowiadomień o wybranych przez nich spotkaniach. Pojedyncze wydarzenia mogą być połączone z profilami prelegentów. Twoi uczestnicy mogą oceniać każdy event w agendzie oraz zadawać mówcom pytania
                </div>
            </div>
        </div>

        <div class="key__block key__block--right">
            <div class="key__info">
                <div class="key__title">
                    Powiadomienia PUSH
                </div>

                <div class="key__description">
                    Nawet najbardziej doświadczeni organizatorzy nie potrafią przewidzieć nagłych zmian w harmonogramie czy niespodziewanych sytuacji podczas eventu. Dzięki powiadomieniom PUSH możesz szybko reagować i docierać bezpośrednio do swojej publiczności. Użytkownicy będą mogli zobaczyć je na ekranach telefonów. To wysoko rozwinięte narzędzie komunikacyjne, dlatego śmiało używaj go do wysyłania wszystkich najważniejszych informacji aby umożliwić uczestnikom bycie zawsze na bieżąco.
                </div>
            </div>

            <div class="key__image key__image--right">
                <img src="../../images/key-push.png"/>
            </div>
        </div>

        <div class="key__block">
            <div class="key__image">
                <img src="../../images/key-agenda.png"/>
            </div>

            <div class="key__info">
                <div class="key__title">
                    Aktualności
                </div>

                <div class="key__description">
                    Co powiesz na połączenie twojej aplikacji z takimi kanałami jak Twitter, Instagram, YouTube i/lub Facebook? Publikujesz wszystkie posty w jednym miejscu tworząc jeden efektywny kanał informacyjny i komunikacyjny. Co może uczynić ten moduł bardziej wyjątkowym? Zamieszczanie autorskich artykułów ze zdjęciami. Daje Ci on możliwość dotarcia bezpośrednio do uczestników bez angażowania twoich innych subskrybentów.
                </div>
            </div>
        </div>

        <div class="key__block key__block--right">
            <div class="key__info">
                <div class="key__title">
                    Networking
                </div>

                <div class="key__description">
                    Chyba nie ma nic bardziej wartościowego niż szeroka sieć kontaktów, prawda? Nie oszukujmy się, jednym z głównych celów uczestników jest budowanie sieci kontaktów. Zwiększaj możliwości nawiązywania nowych znajomości i budowania zaangażowania dzięki wykorzystaniu wiadomości bezpośrednich (1:1) i dzięki wykorzystaniu tzw. fedwall'a, czyli specjalnego kanału informacyjnego. Stymulacja interakcji między organizatorem, publicznością, prelegentami i sponsorami jeszcze nigdy nie była tak łatwa.
                </div>
            </div>

            <div class="key__image key__image--right">
                <img src="../../images/key-push.png"/>
            </div>
        </div>

        <div class="key__block">
            <div class="key__image">
                <img src="../../images/key-agenda.png"/>
            </div>

            <div class="key__info">
                <div class="key__title">
                    Mapy
                </div>

                <div class="key__description">
                    Pomoc twoim uczestnikom w dotarciu na miejsce wydarzenia, jest na pewno świetnym pomysłem. Dzięki planom budynków oraz zintegrowanym mapom Google, uczestnicy mają możliwość przybycia bez konieczności angażowania do tego twoich pracowników. Każdy punkt na mapie posiada swój profil z mapą, opisem, zdjęciem i stroną internetową. Możesz także stworzyć osobne kategorie np. z atrakcjami turystycznymi, restauracjami czy hotelami i nanieść je na mapę. Przybliżysz tym samym swoim uczestnikom możliwości rozrywki i relaksu po całym dniu spędzonym na prelekcjach.
                </div>
            </div>
        </div>

        <div class="key__block key__block--right">
            <div class="key__info">
                <div class="key__title">
                    Partnerzy
                </div>

                <div class="key__description">
                    Twoja aplikacja eventowa to narzędzie, które pozwoli Ci usatysfakcjonować Twoich aktualnych sponsorów, partnerów i wystawców. Komponent zawiera nie tylko ich loga. Możesz reklamować firmy prezentując ich pełne profile. Pozwól im rozwinąć skrzydła z Meeting Application, prezentując ich koncept biznesowy, stronę internetową, kanały social media etc. Posiadanie takiego profilu w aplikacji otworzy firmę na nowe szanse biznesowe oraz spowoduje wzrost liczby zaangażowanych osób na ich oficjalnych profilach social media.
                </div>
            </div>

            <div class="key__image key__image--right">
                <img src="../../images/key-push.png"/>
            </div>
        </div>
    </div>
</section>
