<section class="difference">
    <h2 class="blue difference__header">
        THE DIFFERENCE
    </h2>

    <p class="section__background-text difference__background-text">
        DIFFERENCE
    </p>

    <div class="difference__applications container">
        <div class="difference__app">
            <div class="difference__phone">
                <div class="difference__phone-video-container">
                    <button data-id="difference1" class="difference__video-play"></button>
                    <video id="difference1" class="difference__video">
                        <source src="../../images/1.mov" type="video/mp4">
                    </video>
                </div>

                <a onclick="gotoAppTypes()" class="button button--small">
                    I CHOOSE THIS
                    <img class="core-features__button__icon" src="../../images/next.svg" />
                </a>
            </div>
            <div class="difference__app-description">
                <div class="difference__company-logo difference__company-logo--bigger">
                    <img src="../../images/app-types-logo.png" />
                </div>

                <span class="difference__company-name">
                    Meeting
                </span>

                <span class="difference__company-name">
                    Application
                </span>

                <ul class="difference__list">
                    <li class="difference__list-element"> Event banner </li>
                    <li class="difference__list-element"> Event logo </li>
                    <li class="difference__list-element"> Custom colors </li>
                </ul>
            </div>
        </div>

        <div class="difference__app difference__app--right">
            <div class="difference__app-description difference__app-description--right">
                <div class="difference__company-logo change-icon-interval">
                    <img src="../../images/ikony_pricing/1_dhl.png" />
                    <img src="../../images/ikony_pricing/2_care.png" />
                    <img src="../../images/ikony_pricing/3_raindance.png" />
                    <img src="../../images/ikony_pricing/4_santander.png" />
                    <img src="../../images/ikony_pricing/5_sunny side.png" />
                    <img src="../../images/ikony_pricing/6_eu com.png" />
                </div>

                <span class="difference__company-name">
                    Stand-alone
                </span>

                <span class="difference__company-name">
                    application
                </span>

                <ul class="difference__list difference__list--right">
                    <li class="difference__list-element difference__list-element--right"> App name & icon </li>
                    <li class="difference__list-element difference__list-element--right"> Custom splash screen </li>
                </ul>
            </div>
            <div class="difference__phone">
                <div class="difference__phone-video-container">
                    <button data-id="difference2" class="difference__video-play"></button>
                    <video id="difference2" class="difference__video">
                        <source src="../../images/2.mov" type="video/mp4">
                    </video>
                </div>


                <a onclick="gotoAppTypes()" class="button button--small">
                    I CHOOSE THIS
                    <img class="core-features__button__icon" src="../../images/next.svg" />
                </a>
            </div>
        </div>
    </div>
</section>
