.difference {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__background-text {
    top: -20%;
  }

  &__applications {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__app {
    display: flex;
    width: 425px;

    &--right {
      justify-content: flex-end;
    }

    &:first-child {
      margin-right: 150px;
    }

    > div:first-child {
      margin-right: 40px;
    }

    img {
      max-width: 210px;
    }
  }

  &__app-description {
    display: flex;
    flex-direction: column;
    max-width: 225px;
    font-weight: 600;

    &--right {
      align-items: flex-end;
      text-align: right;
    }

    > a {
      max-width: 150px;
      max-height: 35px;
      font-size: 13px;
    }
  }

  &__company-logo {
    height: 130px;
    width: 130px;
    margin-top: -15px;
    margin-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__company-name {
    font-size: 20px;
  }

  &__phone {
    position: relative;
  }

  &__phone-icon {
    position: absolute !important;
    left: 108px;
    top: 163px;
    width: 40px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }

  &__list-element {
    display: flex;
    margin-bottom: 10px;

    &:before {
      display: inline-block;
      content: '';
      background-image: url('../../images/list-icon.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
      margin-right: 10px;
      margin-top: 2px;
    }

    &--right {
      &:before {
        content: none;
      }

      &:after {
        display: inline-block;
        content: '';
        background-image: url('../../images/list-icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        padding: 1px;
        margin-left: 10px;
        margin-top: 2px;
      }
    }
  }
}
