<section class="difference">
    <h2 class="blue difference__header">
        THE DIFFERENCE
    </h2>

    <p class="section__background-text difference__background-text">
        DIFFERENCE
    </p>

    <div class="difference__applications">
        <div class="difference__app">
            <div>
                <img src="../../images/application-meeting.png" />

                <a class="button button--small">
                    I CHOOSE THIS
                    <img class="core-features__button__icon" src="../../images/next.svg" />
                </a>
            </div>
            <div class="difference__app-description">
                <div class="difference__company-logo">
                    <img src="../../images/ikony_pricing/1_dhl.png" />
                </div>

                <span class="difference__company-name">
                    Meeting
                </span>

                <span class="difference__company-name">
                    Application
                </span>

                <ul class="difference__list">
                    <li class="difference__list-element"> some </li>
                    <li class="difference__list-element"> some </li>
                    <li class="difference__list-element"> some </li>
                </ul>
            </div>
        </div>

        <div class="difference__app difference__app--right">
            <div class="difference__app-description difference__app-description--right">
                <div class="difference__company-logo">
                    <img src="../../images/ikony_pricing/1_dhl.png" />
                </div>

                <span class="difference__company-name">
                    Meeting
                </span>

                <span class="difference__company-name">
                    Application
                </span>

                <ul class="difference__list difference__list--right">
                    <li class="difference__list-element difference__list-element--right"> some </li>
                    <li class="difference__list-element difference__list-element--right"> some </li>
                    <li class="difference__list-element difference__list-element--right"> some </li>
                </ul>
            </div>
            <div>
                <img src="../../images/application-meeting.png" />

                <a class="button button--small">
                    I CHOOSE THIS
                    <img class="core-features__button__icon" src="../../images/next.svg" />
                </a>
            </div>
        </div>
    </div>
</section>
