<section class="cta container">
    <h2 class="cta__header">
        GOTOWY, ŻEBY ULEPSZYC
    </h2>

    <h2 class="cta__text">
        SWOJE WYDARZENIE?
    </h2>

    <a onclick="featuresGotoApp()"
       class="button button--secondary button--big ">
        PRZETESTUJ APLIKACJĘ
        <img class="core-features__button__icon" src="../../images/next.svg" />
    </a>
</section>
