.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  padding-top: 80px;

  &__header {
    margin: 0;
    font-weight: 900;
    color: #19B9F2;
    font-size: 55px;
  }

  &__text {
    color: #18283B;
    font-weight: 900;
    font-size: 55px;
  }
}
