.features {
  padding-bottom: 800px;
  background: #f4f4f4;
  transition: all ease-in 100ms;

  @media (max-width: 750px) {
    padding-bottom: 900px;
  }

  @media (max-width: 500px) {
    padding-bottom: 1100px;
  }

  &__container {
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    margin-top: -230px;
    min-height: 530px;
    left: 0;
    right: 0;
  }

  &__phone {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__feature {
    max-height: 427px;
    padding: 0px 71px 0 59px;
    width: auto !important;
    margin-bottom: 39px;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../images/iphone.png");
    transition: all linear 100ms;
  }

  &__info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    max-width: 100vh;
    width: 80vh;
    opacity: 0;
    transition: all linear 100ms;
    transition-delay: 50ms;

    @media (max-width: 750px) {
      width: 50vh;
    }

    @media (max-width: 500px) {
      width: 300px;
    }

    .swiper-slide-active & {
      opacity: 1;
    }
  }

  &__title {
    color: #19B9F2;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    opacity: 0;
    transition: all linear 100ms;
    transition-delay: 50ms;
    max-width: 100vh;
    width: 80vh;
    @media (max-width: 750px) {
      width: 50vh;
    }

    @media (max-width: 500px) {
      width: 300px;
    }
    .swiper-slide-active & {
      opacity: 1;
    }
  }

  &__description {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    opacity: 0;
    transition: all linear 100ms;
    transition-delay: 50ms;
    max-width: 100vh;
    width: 80vh;
    @media (max-width: 750px) {
      width: 50vh;
    }

    @media (max-width: 500px) {
      width: 300px;
    }
    .swiper-slide-active & {
      opacity: 1;
    }
  }
}

.features {
  .owl-nav {
    position: absolute;
    width: 100%;
    top: 28%;
  }

  .owl-prev {
    width: 30px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -70px !important;
    display: block !important;
    border: 0px solid black;
  }

  .owl-next {
    width: 30px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -75px !important;
    display: block !important;
    border: 0px solid black;
  }

  .owl-prev i, .owl-next i {
    transform: scale(2, 3);
    color: #19B9F2;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none !important;
  }

  .swiper-container {
    width: auto;
    max-width: 1050px;

    &:before {
      content: "";
      top: 160px;
      z-index: 99;
      left: 0;
      position: absolute;
      height: 40%;
      width: 100%;
      background: linear-gradient(to right, #f4f4f4 0%, rgba(244, 244, 244, 0) 5%), linear-gradient(to left, #f4f4f4 0%, rgba(244, 244, 244, 0) 5%);
    }
  }
  .swiper-button-next, .swiper-button-prev {
    top: 400px !important;
  }

  .swiper-pagination-bullet {
    width: auto;
    background: none;
    font-size: 14px;
    margin: 0 30px !important;
    height: auto !important;
    transform: none !important;
    min-width: 220px;
    outline: none !important;

  }

  .swiper-pagination-bullet-active {
    color: #0d88d9;
    font-size: 18px;
  }

  .swiper-pagination-bullets-dynamic {
    display: flex;
    bottom: -50px;
    z-index: 90;
  }

}
