<section class="features">
    <div class="container">
        <div class="features__phones owl-carousel owl-theme">
            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/1_dostep_pl.png" />
                </div>

                <div class="features__info">
                    Jak udostępnić aplikację wyłącznie wybranej grupie osób?
                </div>

                <div class="features__title">
                    DOSTĘP
                </div>

                <div class="features__description">
                    OTWARTY: To od Ciebie zależy, czy dostęp do Twojej aplikacji będzie ograniczony lub nie. Możesz wybrać, czy opcja rejestracji użytkowników będzie wymagana czy obowiązkowa. Jeśli nie zamierzasz umieszczać żadnych poufnych informacji, zalecamy wybór całkowicie otwartego dostępu. Zwiększy to Twoje możliwości promocyjne
                    nie tylko u Twoich aktualnych, ale i potencjalnych użytkowników.
                    <br />
                    LISTA GOŚCI: Ten wariant daje Ci pełną kontrolę nad użytkownikami rejestrującymi się w aplikacji. Dodaj adresy mailowe uczestników spotkania, a tylko ta wyznaczona grupa osób
                    będzie miała dostęp do Twojego wydarzenia. Jeśli pojawi się ktoś niechciany, w każdej chwili możesz zablokować lub usunąć jego konto jednym kliknięciem.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/2_ulubione_pl.png" />
                </div>

                <div class="features__info">
                    Czy Twoi uczestnicy mają możliwość filtrowania harmonogramu i stworzenia spersonalizowanej agendy?
                </div>

                <div class="features__title">
                    ULUBIONE
                </div>

                <div class="features__description">
                    Zaskocz swoją publiczność oferująć im własny, spersonalizowany kalendarz. Użytkownicy będą mogli przeglądać agendę, wybierać najciekawsze wydarzenia i dodawać je do sekcji “Ulubione”.
                    W ten sposób Twoje wydarzenie stanie się jeszcze bardziej indywidualnym przeżyciem. Przypomnienia będą informować Twoich uczestników o starcie kolejnych wydarzeń z ich prywatnego kalendarza.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/3_map_pl.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz wskazać uczestnikom drogę na Twoje wydarzenie bez angażowania swoich pracowników?
                </div>

                <div class="features__title">
                    MAPY I PLANY BUDYNKÓW
                </div>

                <div class="features__description">
                    Pomóż swoim uczestnikom odnaleźć miejsce wydarzenia oraz przybyć tam na czas. Możesz zrobić to w bardzo łatwy i szybki sposób za pomocą interaktywnej mapy oraz wbudowanej nawigacji Google. Umożliw uczestnikom rezerwację noclegu w pobliżu wydarzenia dzięki naszym partnerom!
                    Zamieszczenie planu budynku dodatkowo ułatwi zlokalizowanie poszczególnych sal.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/4_bannersads_pl.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz zwiększyć swój przychód bez wydawania choćby złotówki?
                </div>

                <div class="features__title">
                    REKLAMY I BANERY
                </div>

                <div class="features__description">
                    Zmień aplikację w źródło przychodu. Zaprezentuj ROI przełożonym, sponsorom, wystawcom oraz zewnętrznym reklamodawcom.
                    To unikalna szansa na dotarcie do wyznaczonej grupy odbiorców oraz nowy kanał marketingowy. Dostarcz swoim sponsorom
                    dodatkową możliwość dotarcia do użytkowników i tym samym otwórz się na nowe możliwości sprzedażowe. Nie zapomnij o
                    zebraniu dodatkowej opłaty za reklamy wewnątrz aplikacji!
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/5_bilety_pl.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz umożliwić uczestnikom łatwy proces rejestracji i zakupu biletów?
                </div>

                <div class="features__title">
                    BILETY (WKRÓTCE)
                </div>

                <div class="features__description">
                    Aplikacja eventowa to wszechstronne narzędzie nawet przed rozpoczęciem wydarzenia. Umożliw uczestnikom zakup biletów na event lub poszczególne jego punkty z wyprzedzeniem. To nie tylko zwiększy odsetek faktycznie odwiedzających event, ale też sprawi, że Twój przychód będzie łatwiejszy do oszacowania.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/6_offlinemode_pl.png" />
                </div>

                <div class="features__info">
                    Jak bezpiecznie przechować dane w urządzeniu mobilnym bez dostępu do internetu?
                </div>

                <div class="features__title">
                    APLIKACJA NATYWNA
                </div>

                <div class="features__description">
                    Nasze aplikacje natywne działają płynnie, ponieważ oparte są na najlepszych standardach dla iOS oraz Android.
                    Użytkownicy bez problemu poruszają się po aplikacji, poznają jej funkcje, wygląd oraz możliwości. Gwarantujemy całkowite bezpieczeństwo
                    aplikacji. Jej dodatkową zaletą jest możliwość korzystania z aplikacji w trybie offline.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/7_news_socilalfeed_pl.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz zapewnić efektywną komunikację pomiędzy Tobą a Twoją publicznością?
                </div>

                <div class="features__title">
                    AKTUALNOŚCI
                </div>

                <div class="features__description">
                    Umieść wszystkie aktualizacje w jednym miejscu. Połącz aplikację z profilami na Twitterze, Instagramie, YouTubie i Facebooku.
                    Poprzez integrację aplikacji z kanałami social media zwiększysz aktywność swoich uczestników w tych kanałach. Dzięki temu modułowi możesz również tworzyć dedykowane posty dla swoich uczestników, które będą dostępne jedynie dla użytkowników aplikacji.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/8_resources_pl.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz zapewnić uczestnikom dostęp do wszystkich materiałów konferencyjnych zanim o nie zapytają?
                </div>

                <div class="features__title">
                    MATERIAŁY
                </div>

                <div class="features__description">
                    Niektóre konferencje koncentrują się na przekazywaniu profesjonalnej wiedzy swoim uczestnikom.
                    Ta funkcjonalność pozwala na zapoznanie uczestników ze wszystkimi materiałami konferencyjnymi.
                    Możesz ich przekierować do stron www, prezentacji, plików PDF, skrótów/abstraktów, video i innych.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/9_agenda_pl.png" />
                </div>

                <div class="features__info">
                    Czy możesz szybko ogłaszać ważne zmiany w programie podczas wydarzenia?
                </div>

                <div class="features__title">
                    AGENDA W CZASIE RZECZYWISTYM
                </div>

                <div class="features__description">
                    Zarządzaj swoim harmonogramem bez najmniejszego wysiłku. Wprowadzaj zmiany gdziekolwiek i kiedykolwiek tego potrzebujesz.
                    Zaktualizuj treści jak najszybciej, a aplikacja sama poinformuje uczestników o zmianach. Tak, to takie proste!
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/10_businessmatching_pl.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz umożliwić uczestnikom inicjowanie kontaktów biznesowych przez cały event i po nim?
                </div>

                <div class="features__title">
                    BUSINESS MATCHING
                </div>

                <div class="features__description">
                    Aplikacja eventowa może być potężnym narzędziem do zawierania znajomości biznesowych między uczestnikami.
                    Dzięki tej funkcjonalności pozwolisz odwiedzającym umówienie spotkania podczas wydarzenia z poziomu aplikacji.
                    Inicjowanie relacji biznesowych nigdy nie było prostsze!
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/11_gamification_pl.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz w pełni zaangażować uczestników czyniąc swój event niezapomnianym?
                </div>

                <div class="features__title">
                    GRYWALIZACJA
                </div>

                <div class="features__description">
                    Grywalizacja to świetny sposób na angażowanie uczestników Twojego wydarzenia. Wybierz opcję wzajemnego poznawania się podczas co najmniej 2-minutowej pogawędki lub opcję poszukiwania skarbów, która polega na zlokalizowaniu właściwych miejsc na wydarzeniu w celu zdobycia punktów.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/12_ankiety_pl.png" />
                </div>

                <div class="features__info">
                    Czy otrzymujesz szczegółowe informacje zwrotne o swoim wydarzeniu?
                </div>

                <div class="features__title">
                    ANKIETY I GŁOSOWANIA
                </div>

                <div class="features__description">
                    Zbieraj opinie uczestników przed, w trakcie oraz po wydarzeniu za pomocą ankiet i systemu głosowania.
                    Odpowiedzi są dostępne natychmiast, więc możesz od razu ulepszyć swoje aktualne i przyszłe eventy.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/13_prelegenci_pl.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz zachęcić większą liczbę uczestników do wzięcia udziału w Twoim wydarzeniu?
                </div>

                <div class="features__title">
                    PROFILE PRELEGENTÓW
                </div>

                <div class="features__description">
                    Pozwól zaistnieć swoim prelegentom, stwórz ich profile oraz dodaj zdjęcia w aplikacji.
                    Daj im szansę efektywniejszej autopromocji i zachęć uczestników do przybycia.
                    Rozbudowane profile prelegentów to świetna zachęta dla niezdecydowanej publiczności, by wziąć udział w Twoim wydarzeniu.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/14_photoboothe_pl.png" />
                </div>

                <div class="features__info">
                    Czy możesz uczynić swoje wydarzenia jeszcze bardziej zapadającymi w pamięć?
                </div>

                <div class="features__title">
                    FOTOBUDKA
                </div>

                <div class="features__description">
                    Zapewnij swoim uczestnikom więcej rozrywki. Pamiętaj, że liczy się autentyczność, a samodzielne robienie zdjęć bardzo jej sprzyja.
                    Możesz je również wykorzystać do dokumentacji wydarzenia lub jako materiały promocyjne w mediach społecznościowych.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/15_push_pl.png" />
                </div>

                <div class="features__info">
                    Czy możesz wysyłać powiadomienia bez rozpraszania uczestników?
                </div>

                <div class="features__title">
                    POWIADOMIENIA PUSH
                </div>

                <div class="features__description">
                    Nawet najlepszy organizator może natrafić na nagłe przypadki i niespodziewane zmiany harmonogramu. Dzięki nielimitowanej liczbie
                    powiadomień, możesz błyskawicznie poinformować swoich uczestników o takich okolicznościach za pomocą ich telefonów.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/16_materialyaudiowizualne_pl.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz zagwarantować łatwy dostęp do materiałów audiowizualnych?
                </div>

                <div class="features__title">
                    MATERIAŁY AUDIOWIZUALNE
                </div>

                <div class="features__description">
                    Wzbogać swoje materiały o wideo, nagrania dźwiękowe i zdjęcia. Dzięki Meeting Application możesz zaciekawić i kształcić swoich uczestników przy użyciu różnorodnych materiałów. Jedyne, co musisz zrobić to dodać linki lub wstawić zdjęcia.
                    Nie musisz niczego drukować. Wspieraj środowisko!
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/17_partnerzy_pl.png" />
                </div>

                <div class="features__info">
                    Czy masz pewność że Twoi sponsorzy, partnerzy i wystawcy są odpowiednio wyeksponowani?
                </div>

                <div class="features__title">
                    SPONSORZY, PARTNERZY I WYSTAWCY
                </div>

                <div class="features__description">
                    Aplikacja eventowa to najlepsze narzędzie do usatysfakcjonowania twoich aktualnych oraz potencjalnych partnerów.
                    Pozwól im zaprezentować swoją markę - nie tylko logo - za pomocą bogatych profili sponsorskich.
                    Pozwól im w pełni wykorzystać możliwości płynące z Twojej aplikacji eventowej.
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/18_pl_final.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz zaoferować spersonalizowaną i uzależnioną od lokalizacji komunikację?
                </div>

                <div class="features__title">
                    BEACONY
                </div>

                <div class="features__description">
                    Ta funkcjonalność pozwala Ci zdefiniować działania aplikacji, które zostaną uruchomione, kiedy uczestnicy zbliżą się do określonych miejsc na Twoim evencie. To daje unikalną możliwość zbudowania komunikacji z uczestnikami opartej na ich lokalizacji.
                    Wykorzystaj tę technologię, żeby ich zadziwić!
                </div>
            </div>

            <div class="features__phone">
                <div class="features__image">
                    <img class="features__feature" src="../../images/features/19_pl_final.png" />
                </div>

                <div class="features__info">
                    Czy potrafisz ożywić networking i ułatwić uczestnikom poznanie się?
                </div>

                <div class="features__title">
                    CZAT 1:1
                </div>

                <div class="features__description">
                    Dając zaoferowania możliwość wysyłania prywatnych wiadomości zintensyfikujesz nawiązywanie nowych kontaktów i budowę zaangażowania na Twoim wydarzeniu. Stymulacja interakcji jeszcze nigdy nie była tak prosta. Ta funkcjonalność to świetne narzędzie do budowania aktywnej
                    społeczności oraz umożliwienie łatwego nawiązywania nowych znajomości biznesowych.
                </div>
            </div>

        </div>
    </div>
</section>
