.features {
  padding-bottom: 650px;
  background-color: #f4f4f4;

  @media (max-width: 700px) {
    padding-bottom: 750px;
  }

  @media (max-width: 450px) {
    padding-bottom: 800px;
  }

  &__phones {
    display: flex;
    padding-top: 70px;
    position: absolute;
    margin-top: -230px;
    background-size: contain;
    background-position-y: 120px;
    background-repeat: no-repeat;
    background-image: url(../../images/otheriphonespng.png);
    min-height: 530px;

    @media (max-width: 894px) {
      background-image: none;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__feature {
    max-height: 427px;
    padding: 0px 71px 0 59px;
    width: auto !important;
    margin-bottom: 39px;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../images/iphone.png");
  }

  &__info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
  }

  &__title {
    color: #19B9F2;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__description {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
  }
}

.features {
  .owl-nav {
    position: absolute;
    width: 100%;
    top: 28%;
  }

  .owl-prev {
    width: 30px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -70px !important;
    display: block !important;
    border: 0px solid black;
  }

  .owl-next {
    width: 30px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -75px !important;
    display: block !important;
    border: 0px solid black;
  }

  .owl-prev i, .owl-next i {
    transform: scale(2, 3);
    color: #19B9F2;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none !important;
  }
}
