<section class="services container">
    <h2 class="blue">
        SERVICES
    </h2>

    <p class="section__background-text services__background-text">
        SERVICES
    </p>

    <article class="services__types">
        <div class="services__type">
            <h3 class="services__type-name">
                1:1 VIDEO TRAINING SESSION
            </h3>

            <p class="services__text">
                Your dedicated assistant will conduct an extensive video tour of the CMS panel and show you how to manage your event.
            </p>

            <a class="services__button">
                FREE
            </a>
        </div>

        <div class="services__type">
            <h3 class="services__type-name">
                AUTOMATIC AGENDA UPLOAD
                <br />
                <span class="services__type-name--small">
                    (from a .csv template)
                </span>
            </h3>

            <p class="services__text">
                If you have a complex agenta you can upload it into our system using a simple Excel template.
            </p>

            <a class="services__button">
                FREE
            </a>
        </div>

        <div class="services__type">
            <h3 class="services__type-name">
                FULL DATA UPLOAD
            </h3>

            <p class="services__text">
                If you don't  have the time for managing the app on your own, can do it for you.
            </p>

            <a class="services__button">
                750 USD
            </a>
        </div>
    </article>
</section>

<section class="services container">
    <h2 class="blue">
        EXTRA FUNCTIONALITIES
    </h2>

    <p class="section__background-text services__background-text">
        FUNCTIONALITIES
    </p>

    <article class="services__types">
        <div class="services__type services__type--animated">
            <h3 class="services__type-name">
                LANGUAGE
            </h3>

            <p class="services__text">
                Our app is currently available in 15 different languages (see the list), if your language is not there, let us know.
            </p>

            <a class="services__button">
                REQUEST A NEW LANGUAGE
            </a>
        </div>

        <div class="services__type services__type--animated">
            <h3 class="services__type-name">
                WHITELABEL
            </h3>

            <p class="services__text">
                No trace of Meeting Application anywhere in the app, just your branding.
            </p>

            <a class="services__button">
                REQUEST PRICE
            </a>
        </div>

        <div class="services__type services__type--animated">
            <h3 class="services__type-name">
               CUSTOM FEATURE
            </h3>

            <p class="services__text">
                You need a certain functionality, but can't find it on our list? <br />
                Ask if we can add it to the app.
            </p>

            <a class="services__button">
                REQUEST PRICE
            </a>
        </div>
    </article>
</section>
