<section class="services container">
    <h2 class="blue">
        SERVICES
    </h2>

    <p class="section__background-text services__background-text">
        SERVICES
    </p>

    <article class="services__types">
        <div class="services__type">
            <h3 class="services__type-name">
                Mike Kopyra
            </h3>

            <p class="services__text">
                Your dedicated assistant will conduct an extensive video tour of the CMS panel and show you how to manage your event.
            </p>

            <a class="services__button">
                FREE
            </a>
        </div>

        <div class="services__type">
            <h3 class="services__type-name">
                Mike Kopyra
            </h3>

            <p class="services__text">
                Your dedicated assistant will conduct an extensive video tour of the CMS panel and show you how to manage your event.
            </p>

            <a class="services__button">
                FREE
            </a>
        </div>

        <div class="services__type">
            <h3 class="services__type-name">
                Mike Kopyra
            </h3>

            <p class="services__text">
                Your dedicated assistant will conduct an extensive video tour of the CMS panel and show you how to manage your event.
            </p>

            <a class="services__button">
                FREE
            </a>
        </div>
    </article>
</section>

<section class="services container">
    <h2 class="blue">
        EXTRA FUNCTIONALITIES
    </h2>

    <p class="section__background-text services__background-text">
        FUNCTIONALITIES
    </p>

    <article class="services__types">
        <div class="services__type">
            <h3 class="services__type-name">
                Mike Kopyra
            </h3>

            <p class="services__text">
                Your dedicated assistant will conduct an extensive video tour of the CMS panel and show you how to manage your event.
            </p>

            <a class="services__button">
                FREE
            </a>
        </div>

        <div class="services__type">
            <h3 class="services__type-name">
                Mike Kopyra
            </h3>

            <p class="services__text">
                Your dedicated assistant will conduct an extensive video tour of the CMS panel and show you how to manage your event.
            </p>

            <a class="services__button">
                FREE
            </a>
        </div>

        <div class="services__type">
            <h3 class="services__type-name">
                Mike Kopyra
            </h3>

            <p class="services__text">
                Your dedicated assistant will conduct an extensive video tour of the CMS panel and show you how to manage your event.
            </p>

            <a class="services__button">
                FREE
            </a>
        </div>
    </article>
</section>
