<section class="cms">
    <h1 class="cms__header">ZOBACZ, JAK ŁATWO UTWORZYC WYDARZENIE</h1>

    <div class="owl-carousel owl-theme">
        <div class="cms__carousel-image">
            <img src="../../images/cms-3.png" />
        </div>

        <div class="cms__carousel-image">
            <img src="../../images/cms-3.png" />
        </div>

        <div class="cms__carousel-image">
            <img src="../../images/cms-3.png" />
        </div>
    </div>
</section>
