<section class="cms">
    <h1 class="cms__header">ZOBACZ, JAK ŁATWO UTWORZYC WYDARZENIE</h1>

    <div class="owl-carousel owl-theme cms__owl">
        <div class="cms__carousel-image">
            <img src="../../images/cms_en_3.png" />
        </div>

        <div class="cms__carousel-image">
            <img src="../../images/cms_en_2.png" />
        </div>

        <div class="cms__carousel-image">
            <img src="../../images/cms_en_1.png" />
        </div>
    </div>
</section>
