<nav class="nav">
    <div class="nav__container container">
        <div class="nav__logo" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url">
                <img src="../../images/logo-nav.png" itemprop="logo" />
            </a>
        </div>

        <div class="nav_menu">
            <a href="https://app.meetingapplication.com"
               class="nav__button nav__button--responsive button button--secondary">
                Login
            </a>

            <a href="https://meetingapplication.com/get-your-app/"
               class="nav__button nav__button--responsive button">
                Start free trial
            </a>

            <a href="#industries" class="nav__link">
                Industries
            </a>

            <a href="#features" class="nav__link">
                Features
            </a>

            <a href="https://meetingapplication.com/clients/" class="nav__link">
                Clients
            </a>

            <a href="https://meetingapplication.com/pricing-2/" class="nav__link">
                Pricing
            </a>

            <a href="https://meetingapplication.com/about-us/" class="nav__link">
                About us
            </a>

            <a href="https://meetingapplication.com/contact/" class="nav__link">
                Contact
            </a>

            <a href="http://blog.meetingapplication.com" class="nav__link">
                Blog
            </a>
        </div>

        <a href="https://app.meetingapplication.com" class="nav__button button button--secondary">
            Login
        </a>

        <a href="https://meetingapplication.com/get-your-app/"
           class="nav__button button">
            Start free trial
        </a>

        <input id="nav__menu-launcher" onclick="toggleMenu()" type="checkbox" class="nav__menu-launcher-input" />
        <label for="nav__menu-launcher" class="nav__menu-launcher-label" />
    </div>
</nav>
