<section class="app-types">
    <h2 class="app-types__header blue">
        APP TYPES
    </h2>

    <p class="section__background-text app-types__background-text">
        APP TYPES
    </p>
    
    <div class="app-types__type-container">
        <div class="app-types__logo">
            <img  src="../../images/app-types-logo.png">
        </div>

        <div class="app-types__small-container">
            <div class="app-types__type">
                <div class="app-types__type-name-container">
                    <h2 class="app-types__name">
                        PREMIUM
                    </h2>

                    <span class="app-types__info">
                        One year license for 1 event
                    </span>
                </div>

                <span class="app-types__name-description">
                    Suspendise a Suspendise a Suspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise a
                </span>

                <span class="app-types__price">
                    $ 999
                </span>

                <ul class="app-types__features-list">
                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>
                </ul>

                <a  href="https://meetingapplication.com/get-your-app?type=plus" class="button app-types__button app-types__button--black">
                    TEST FOR FREE FOR 14 DAYS
                </a>
            </div>

            <div class="app-types__type app-types__type--premium">
                <div class="app-types__type-name-container app-types__type-name-container--premium">
                    <h2 class="app-types__name app-types__name--premium">
                        PREMIUM
                    </h2>

                    <span class="app-types__info">
                        One year license for 1 event
                    </span>
                </div>

                <span class="app-types__name-description">
                    Suspendise a Suspendise a Suspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise a
                </span>

                <span class="app-types__price app-types__price--premium">
                    $ 999
                </span>

                <ul class="app-types__features-list">
                    <div class="app-types__feature-list-header">
                        FEATURES FROM
                        <span class="app-types__feature-list-header--blue">PLUS</span>
                        +
                    </div>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>

                    <li class="app-types__feature">
                        <img src="../../images/agenda.png" />
                        Agenda
                    </li>
                </ul>

                <a  href="https://meetingapplication.com/get-your-app?type=premium" class="button app-types__button">
                    TEST FOR FREE FOR 14 DAYS
                </a>
            </div>
        </div>
    </div>

    <div class="app-types__or">
        <span>
            OR
        </span>
    </div>


    <div class="app-types__type-container">
        <div class="app-types__logo change-icon-interval">
            <img src="../../images/ikony_pricing/1_dhl.png" />
            <img src="../../images/ikony_pricing/2_care.png" />
            <img src="../../images/ikony_pricing/3_raindance.png" />
            <img src="../../images/ikony_pricing/4_santander.png" />
            <img src="../../images/ikony_pricing/5_sunny side.png" />
            <img src="../../images/ikony_pricing/6_eu com.png" />
        </div>

        <div class="app-types__type">
            <div class="app-types__type-name-container">
                <h2 class="app-types__name">
                    PREMIUM
                </h2>

                <span class="app-types__info">
                    One year license for 1 event
                </span>
            </div>

            <span class="app-types__name-description">
                Suspendise a Suspendise a Suspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise a
            </span>

            <span class="app-types__price">
                $ 999
            </span>

            <ul class="app-types__features-list">
                <div class="app-types__feature-list-header">
                    FEATURES FROM
                    <span class="app-types__feature-list-header--blue">PREMIUM</span>
                    +
                </div>

                <li class="app-types__feature">
                    <img src="../../images/agenda.png" />
                    Agenda
                </li>

                <li class="app-types__feature">
                    <img src="../../images/agenda.png" />
                    Agenda
                </li>

                <li class="app-types__feature">
                    <img src="../../images/agenda.png" />
                    Agenda
                </li>

                <li class="app-types__feature">
                    <img src="../../images/agenda.png" />
                    Agenda
                </li>

                <li class="app-types__feature">
                    <img src="../../images/agenda.png" />
                    Agenda
                </li>

                <li class="app-types__feature">
                    <img src="../../images/agenda.png" />
                    Agenda
                </li>

                <li class="app-types__feature">
                    <img src="../../images/agenda.png" />
                    Agenda
                </li>

                <li class="app-types__feature">
                    <img src="../../images/agenda.png" />
                    Agenda
                </li>

                <li class="app-types__feature">
                    <img src="../../images/agenda.png" />
                    Agenda
                </li>

                <li class="app-types__feature">
                    <img src="../../images/agenda.png" />
                    Agenda
                </li>
            </ul>

            <a href="https://meetingapplication.com/get-your-app?type=standalone" class="button app-types__button app-types__button--black">
                TEST FOR FREE FOR 14 DAYS
            </a>
        </div>
    </div>

</section>
