html .app-types {
  background-color: #F4F4F4;
  padding: 50px 0;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__header {
    width: 100%;
  }

  &__logo {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;

    > img {
      height: 151px;
      width: 151px;
    }
  }

  &__type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  &__small-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 310px;
    padding-bottom: 15px;
    margin: 5px;
    margin-top: 30px;
    transition: 100ms ease-in-out;
    min-height: 650px;

    &--premium {
      border-top: 7px solid #18283b;
      padding-top: 0;
    }

    &.active {
      transform: scale(1.1);
      box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.3);
    }

    > * {
      padding: 0 25px;
    }
  }

  &__type-name-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--premium {
      background-color: #f4f4f4;
      height: 105px;
    }
  }

  &__feature-list-header {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;

    &--blue {
      color: #19B9F2;
    }
  }

  &__name {
    font-size: 30px;
    color: #19B9F2;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 500;

    &--premium {
      background-color: #f4f4f4;
      font-size: 40px;
    }

  }

  &__name-description {
    text-align: justify;
    font-size: 14px;
    padding: 20px;
    height: 90px;
    width: 100%;
  }

  &__info {
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }

  &__price {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 45px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    width: 90%;
    text-align: center;
    height: 70px;

    &--premium {
      border-top: 1px solid #19B9F2;
      border-bottom: 1px solid #19B9F2;
      background-color: #19B9F2;
      color: white;
      font-size: 40px;
      width: 100%;
    }
  }

  &__features-list {
    list-style: none;
    margin: 20px;
  }

  &__feature {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 15px;

    &--image {
      display: flex;
      justify-content: flex-end;
      width: 30px;
    }

    img {
      width: auto;
      height: 13px;
      margin-right: 10px;
    }
  }

  &__button {
    width: 87%;
    box-shadow: none;
    height: 45px;
    margin-top: auto;

    &--black {
      background-color: black;
      background-image: none;
    }
  }

  &__or {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 45px;
    color: #19B9F2;
    margin: 40px;

    @media (max-width: 1120px) {
      width: 100%;
    }
  }
}
