<section class="app-types">
    <h2 class="app-types__header blue">
        APP TYPES
    </h2>

    <p class="section__background-text app-types__background-text">
        APP TYPES
    </p>

    <div class="app-types__type">
        <h2 class="app-types__name">
            PLUS
        </h2>

        <span class="app-types__info">
            One year license for 1 event
        </span>

        <span class="app-types__name-description">
            Suspendise a Suspendise a Suspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise a
        </span>

        <span class="app-types__price">
            $ 999
        </span>

        <ul class="app-types__features-list">
            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>
        </ul>

        <a class="button app-types__button app-types__button--black">
            TEST FOR FREE FOR 14 DAYS
        </a>
    </div>

    <div class="app-types__type">
        <h2 class="app-types__name">
            PLUS
        </h2>

        <span class="app-types__info">
            One year license for 1 event
        </span>

        <span class="app-types__name-description">
            Suspendise a Suspendise a Suspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise a
        </span>

        <span class="app-types__price">
            $ 999
        </span>

        <ul class="app-types__features-list">
            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>
        </ul>

        <a class="button app-types__button">
            TEST FOR FREE FOR 14 DAYS
        </a>
    </div>

    <div class="app-types__or">
        <span>
            OR
        </span>
    </div>

    <div class="app-types__type">
        <h2 class="app-types__name">
            PLUS
        </h2>

        <span class="app-types__info">
            One year license for 1 event
        </span>

        <span class="app-types__name-description">
            Suspendise a Suspendise a Suspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise aSuspendise a
        </span>

        <span class="app-types__price">
            $ 999
        </span>

        <ul class="app-types__features-list">
            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>

            <li class="app-types__feature">
                <img src="../../images/agenda.png" />
                Agenda
            </li>
        </ul>

        <a class="button app-types__button app-types__button--black">
            TEST FOR FREE FOR 14 DAYS
        </a>
    </div>
</section>
