<section class="rest">

    <h2 class="blue rest__header">
        REST ASSURED
    </h2>

    <div class="rest__element">
        <div class="rest__text">
            <span class="rest__text-info--blue">
                We accept
            </span>
            <span class="rest__text-info">
                PayPayl, Credit Card, and money transfer payments
            </span>
        </div>

        <div class="rest__hexagon">
            <img class="rest__hexagon-icon" src="../../images/hexagon-icon.png" />
        </div>
    </div>

    <div class="rest__element rest__element--right">
        <div class="rest__hexagon rest__hexagon--right">
            <img class="rest__hexagon-icon" src="../../images/hexagon-icon.png" />
        </div>

        <div class="rest__text rest__text--right">
            <span class="rest__text-info--blue">
                30-day
            </span>
            <span class="rest__text-info">
                money back guarantee
            </span>
        </div>
    </div>

    <div class="rest__element">
        <div class="rest__text">
            <span class="rest__text-info--blue">
                You don't need
            </span>
            <span class="rest__text-info">
                to provide data about your credit card
            </span>
        </div>

        <div class="rest__hexagon">
            <img class="rest__hexagon-icon" src="../../images/hexagon-icon.png" />
        </div>
    </div>

    <div class="rest__element rest__element--right">
        <div class="rest__hexagon rest__hexagon--right">
            <img class="rest__hexagon-icon" src="../../images/hexagon-icon.png" />
        </div>

        <div class="rest__text rest__text--right">
            <span class="rest__text-info--blue">
                99,999%
            </span>
            <span class="rest__text-info">
                is the uptime of our servers
            </span>
        </div>
    </div>

    <div class="rest__element">
        <div class="rest__text">
            <span class="rest__text-info--blue">
                Your data
            </span>
            <span class="rest__text-info">
                is encrypted and safe
            </span>
        </div>

        <div class="rest__hexagon">
            <img class="rest__hexagon-icon" src="../../images/hexagon-icon.png" />
        </div>
    </div>
</section>
