<section class="rest">

    <h2 class="blue rest__header">
        REST ASSURED
    </h2>

    <div class="rest__element">
        <div class="rest__text">
            <span class="rest__text-info--blue">
                We accept
            </span>
            <span class="rest__text-info">
                PayPal and Credit Card payments
            </span>
        </div>

        <div class="rest__hexagon">
            <img class="rest__hexagon-icon" src="../../images/hexagon-icon.png" />
        </div>
    </div>

    <div class="rest__element rest__element--right">
        <div class="rest__hexagon rest__hexagon--right">
            <img class="rest__hexagon-icon" src="../../images/hexagon-icon.png" />
        </div>

        <div class="rest__text rest__text--right">
            <span class="rest__text-info--blue">
                We accept
            </span>
            <span class="rest__text-info">
                PayPal and Credit Card payments
            </span>
        </div>
    </div>

    <div class="rest__element">
        <div class="rest__text">
            <span class="rest__text-info--blue">
                We accept
            </span>
            <span class="rest__text-info">
                PayPal and Credit Card payments
            </span>
        </div>

        <div class="rest__hexagon">
            <img class="rest__hexagon-icon" src="../../images/hexagon-icon.png" />
        </div>
    </div>

    <div class="rest__element rest__element--right">
        <div class="rest__hexagon rest__hexagon--right">
            <img class="rest__hexagon-icon" src="../../images/hexagon-icon.png" />
        </div>

        <div class="rest__text rest__text--right">
            <span class="rest__text-info--blue">
                We accept
            </span>
            <span class="rest__text-info">
                PayPal and Credit Card payments
            </span>
        </div>
    </div>

    <div class="rest__element">
        <div class="rest__text">
            <span class="rest__text-info--blue">
                We accept
            </span>
            <span class="rest__text-info">
                PayPal and Credit Card payments
            </span>
        </div>

        <div class="rest__hexagon">
            <img class="rest__hexagon-icon" src="../../images/hexagon-icon.png" />
        </div>
    </div>
</section>
