html .rest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;

  &__header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  &__element {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    width: 100%;

    @media (max-width: 500px) {
      margin-top: 10px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    position: absolute;
    left: -380px;
    right: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

    @media (max-width: 720px) {
      width: 140px;
      margin-top: 10px;
      left: -250px;
    }

    @media (max-width: 500px) {
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
      right: auto;
      left: 0;
    }

    &--right {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      left: 470px;
      align-items: flex-start;

      @media (max-width: 720px) {
        width: 140px;
        margin-top: 20px;
        left: 350px;
      }

      @media (max-width: 500px) {
        position: relative;
        margin-left: 10px;
        right: auto;
        left: 0;
      }
    }
  }

  &__text-info {
    font-size: 16px;

    &--blue {
      font-size: 20px;
      color: #19B9F2;
    }
  }

  &__hexagon {
    width: 85px;
    min-width: 85px;
    min-height: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/hexagon-dark-blue.png');
    margin-right: 40px;
    margin-left: 40px;

    @media (max-width: 500px) {
      margin-right: 0;
      margin-left: 0;
    }

    &--right {
      margin-right: -50px;
      background-image: url('../../images/hexagon-blue.png');

      @media (max-width: 500px) {
        margin-right: 0px;
      }
    }
  }

  &__hexagon-icon {
    width: 50%;
  }
}
